@model BitirmeProjesi.MVC.Areas.Admin.Models.CommentAddViewModel




<div class="modal fade" tabindex="-1" role="dialog" area-hidden="true ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span>Add Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddComment" id="form-comment-add"method="post" >
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validationSummary" aria-hidden="true" style="display:none;"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input class="form-control" asp-for="Title" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject"></label>
                        <input class="form-control" asp-for="Subject" />
                        <span class="text-danger" asp-validation-for="Subject"></span>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="btnSaveComment"><span class="fas fa-save"></span>Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fas fa-times"></span>Close</button>
            </div>
        </div>
    </div>
</div>

