@model BitirmeProjesi.Entities.Dtos.MovieListDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model.ResultStatus == BitirmeProjesi.Shared.Utilities.Results.Complex_Types.ResultStatus.Success)
{
    <div class="container">

        <div class="row">

            @await Html.PartialAsync("_LayoutListGroupPartial")
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">

                    @foreach (var movie in Model.Movies)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="~/img/@movie.ThumbNail" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-area="Admin" asp-controller="Movie" asp-action="Index">@movie.Title</a>
                                    </h4>

                                    <p class="card-text">
                                        @movie.Subject
                                    </p>
                                </div>
                                @*<div class="card-footer">
                                    <button onclick="/Admin/Book">details</button>

                                </div>*@
                                <div class="card-footer" id="placeHolderMovies">

                                </div>
                            </div>
                        </div>
                    }


                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->


    </div>
}
@*@section Scripts{
        <script>
            $(function () {
                const url = '@Url.Action("Add","Comment")';
                const placeHolderMovies = $('#placeHolderMovies');
                $('#DetailsMovies').click(function () {
                    $.get(url).done(function (data) {
                        placeHolderMovies.html(data);
                        placeHolderMovies.find(".modal").modal('show');
                    });

                    placeHolderMovies.on('click',
                        '#btnSave',
                        function (event) {
                            event.preventDefault();
                            const form = $('#form-comment-add');
                            const actionUrl = form.attr('action');
                            const dataToSend = form.serialize();
                            $.post(actionUrl, dataToSend).done(function (data) {
                                console.log(data);
                                const commentAddAjaxModel = jQuery.parseJSON(data);
                                console.log(commentAddAjaxModel);
                                const newFormBody = $('.modal-body', commentAddAjaxModel.CommentAddPartial);
                                placeHolderMovies.find('.modal-body').replaceWith(newFormBody);
                                const isValid = newFormBody.find('[name="IsValid"]').val() === 'True';
                                if (isValid) {
                                    placeHolderMovies.find('.modal').modal('hide');
                                    const newTableRow = `
                                         <div class="card-footer" >
                                           ${commentAddAjaxModel.CommentDto.Subject}
                                    </div>`;

                                    const newTableRowObject = $(newTableRow);
                                    newTableRowObject.hide();
                                    $('#placeHolderMovies').append(newTableRowObject);
                                    newTableRowObject.fadeIn(3500);


                                    //53-16.DK
                                }
                            });
                        });
                });
            });
        </script>
    }*@