@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<link href="~/css/MoodTest.css" rel="stylesheet" />


<div class="container text-center col-md-4 ">
    <div class="modal-dialog p-2">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-info"><span class="label label-warning text-info" id="question1"></span>Eski tarihli filmleri izlemekten hoşlanır mısın? </h3>
            </div>
            <div class="modal-body">
                <div class="quiz" id="quiz1" data-toggle="buttons">
                    <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="Evet,1990 ve öncesi yapımlar">Evet,1990 ve öncesi yapımlar</label>
                    <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="Günümüz ve yakın tarihler">Günümüz ve yakın tarihler</label>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container text-center col-md-4 " id="SuggestionScreen">
    <div class="modal-dialog p-2">
        <div class="modal-content">
            <div class="modal-header ">
                <h3 class="text-info text-center"><span class="label label-warning text-info text-center"></span>Senin İçin Önerilerimiz </h3>
            </div>

            <div class="modal-body text-center">
                <div class="card text-white  bg-primary mb-3 text-center">
                    <a class="card-header bg-info text-center text-dark" id="answer1Title"> </a>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container text-center col-md-4 " id="SuggestionScreen2">
    <div class="modal-dialog p-2">
        <div class="modal-content">
            <div class="modal-header ">
                <h3 class="text-info"><span class="label label-warning text-info"></span>Senin İçin Önerilerimiz </h3>
            </div>

            <div class="modal-body">
                <div class="card text-white  bg-primary mb-3 text-center">
                    <a class="card-header bg-info text-dark text-center" id="answer2Title"> </a>
                </div>
            </div>


        </div>
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-center">
        <li class="page-item"><a class="page-link" asp-controller="Movie" asp-action="MoodTesting2">Geri</a></li>
        <li class="page-item  "><a class="page-link" asp-controller="Movie" asp-action="MoodTesting">1</a></li>
        <li class="page-item "><a class="page-link" asp-controller="Movie" asp-action="MoodTesting2">2</a></li>
        <li class="page-item active"><a class="page-link" asp-controller="Movie" asp-action="MoodTesting3">3</a></li>

    </ul>
</nav>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#SuggestionScreen').hide();
            $('#SuggestionScreen2').hide();

            $("label.btn").on('click', function () {
                var choice = $(this).find('input:radio').val();

                if (choice == "Evet,1990 ve öncesi yapımlar")

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetDateLess1990",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            $('#SuggestionScreen2').hide();
                            const resultMovie = jQuery.parseJSON(result);

                            if (resultMovie.ResultStatus === 0) {
                                let answerResult = "";
                                $.each(resultMovie.Movies.$values,
                                    function (index, movie) {
                                        answerResult += `

                                                                                                         <div class="card-header bg-info"> ${movie.Title}</div>
                                                                                                           <div class="card-title "> ${movie.Summary}</div>
                                                                                                        `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResult);

                            }

                        }
                    });

                else if (choice == "Günümüz ve yakın tarihler") {
                    $('#SuggestionScreen').hide();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetMovieDateThan1990",
                        success: function (result) {
                            $('#SuggestionScreen2').show();
                            const resultMovieLess = jQuery.parseJSON(result);

                            if (resultMovieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer2Title').html(" ");
                                $.each(resultMovieLess.Movies.$values,
                                    function (index, movie) {
                                        answerResultLess += `
                                                                                                        <div class="card-header bg-info"> ${movie.Title}</div>
                                                                                                         <div class="card-title "> ${movie.Summary}</div>
                                                                                                        `;
                                    }
                                );
                                $('#answer2Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }

            });
        });
    </script>
}
