@model BitirmeProjesi.Entities.Dtos.MovieQuestionDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<link href="~/css/MoodTest.css" rel="stylesheet" />



@foreach (var question in Model.MovieQuestions)
{
<div class="row">
    <div class="container text-center col-md-4 ">

        <div class="modal-dialog p-2">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="text-info"><span class="label label-warning text-info" id="question"></span>@question.QuestionText </h2>
                </div>
                <div class="modal-body">

                    <div class="quiz" id="quiz" data-toggle="buttons">

                        <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="1">@question.OptionsOne</label>
                        <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="2">@question.OptionsTwo</label>
                        <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="3">Diğer</label>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container text-center col-md-6 " id="SuggestionScreen">

        <div class="modal-dialog p-2">
            <div class="modal-content">

                <div class="modal-header ">
                    <h2 class="text-info"><span class="label label-warning text-info" ></span>Senin İçin Önerilerimiz </h2>
                </div>
                <div class="modal-body">

                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-info text-dark" id="answer1Title"> </div>       
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>

 } 


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#SuggestionScreen').hide();
            $("label.btn").on('click', function () {
                var choice = $(this).find('input:radio').val();
                
                    if (choice == 1)
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: "./GetSuggestionsLessTwo",
                            success: function (result) {
                                $('#SuggestionScreen').show();
                                const resultMovie = jQuery.parseJSON(result);

                                if (resultMovie.ResultStatus === 0) {
                                    let answerResult = "";
                                    $.each(resultMovie.Movies.$values,
                                        function (index, movie) {
                                            answerResult += `
                                                                                 <div class="card-header bg-info"> ${movie.Title}</div>
                                                                               

                                                                                `;
                                        }
                                    );
                                    $('#answer1Title').replaceWith(answerResult);

                                }
                            }
                        });
                    else {
                        
                        $('#SuggestionScreen').hide();
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: "./GetSuggestionsMoreTwo",
                            success: function (result) {
                                $('#SuggestionScreen').show();
                                const resultMovieLess = jQuery.parseJSON(result);

                                if (resultMovieLess.ResultStatus === 0) {
                                    let answerResultLess = "";
                                    $('#answer1Title').html(" ");
                                    $.each(resultMovieLess.Movies.$values,
                                        function (index, movie) {
                                            answerResultLess += `
                                                                                <div class="card-header bg-info"> ${movie.Title}</div>

                                                                                `;
                                        }
                                    );
                                    $('#answer1Title').replaceWith(answerResultLess);
                                }

                            }


                        });
                    }
            });

        });
    </script>
}
