<div class="container">

    <div class="row" id="HomePage">

        <div class="col-lg-3 bg-transparent">
            @*EKLEME YAPILABİLİR*@ 
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 p-5">

            <div class="row">



                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">İzlenilecek Filmler Listesi</h5>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Spartacus</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link text-info">Listeden Çıkar</a>
                            <a href="#" class="card-link text-info">Detaylara Git</a>
                        </div>

                    </div>
                </div>



                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">İzlenilecek Diziler Listesi</h5>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Spartacus</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link text-info">Listeden Çıkar</a>
                            <a href="#" class="card-link text-info">Detaylara Git</a>
                        </div>

                    </div>
                </div>



                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">Okunacak Kitaplar Listesi</h5>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Spartacus</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link text-info">Listeden Çıkar</a>
                            <a href="#" class="card-link text-info">Detaylara Git</a>
                        </div>

                    </div>
                </div>



            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->


</div>
}