@model BitirmeProjesi.Entities.Dtos.UserPasswordChangeDto
@{ Layout = null;}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/login.css" rel="stylesheet" />


<div class="login-wrap">
    <div class="login-html bg-dark">
        <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">Şifremi Değiştir</label>

        <div class="login-form">
            <form asp-controller="User" asp-action="PasswordChange" method="post">
                 <div asp-validation-summary="All" class="text-danger"></div>
                <div class="group">

                    <label class="label" asp-for="CurrentPassword">Şuanki Şifreniz</label>
                    <input class="input" asp-for="CurrentPassword" />

                </div>
                <div class="group">
                    <label class="label" asp-for="NewPassword">Yeni Şifreniz</label>
                    <input class="input" asp-for="NewPassword"/>
                </div>

                <div class="group">
                    <label class="label" asp-for="RepeatPassword">Yeni Şifrenizin Tekrarı</label>
                    <input class="input" asp-for="RepeatPassword" />
                </div>

                <div class="group">
                    <button class="button" type="submit" id="btnSave"> <span class="fas fa-sign-in-alt"></span> Kaydet</button>
                </div>
                <div class="foot-lnk">
                    <a  asp-area="" asp-controller="Home" asp-action="Index">Vazgeç</a>
                    /
                    <a asp-area="Admin" asp-controller="User" asp-action="Login"> Giriş Yap </a>

                </div>

            </form>
        </div>
    </div>
</div>