@model BitirmeProjesi.Entities.Dtos.UserPasswordResetDto
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/login.css" rel="stylesheet" />

@if (ViewBag.State == null)
{
    <div class="login-wrap">
        <div class="login-html bg-dark">
            <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">Şifremi Unuttum</label>

            <div class="login-form">
                <form asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="group">
                        <label class="label" asp-for="Email">Email</label>
                        <input class="input" asp-for="Email" type="email" />

                    </div>

                    <div class="group">
                        <button class="button" type="submit"> <span class="fas fa-sign-in-alt"></span> Yeni Şifre Talebi Gönder </button>
                    </div>
                    <div class="foot-lnk">
                        <a asp-area="Admin" asp-controller="User" asp-action="Login">Vazgeç</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

}
else
{
    if (ViewBag.State)
    {

        <div class="login-wrap">
            <div class="login-html bg-dark">
                <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">FunBox</label>

                <div class="login-form">
                    <form asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="group">
                            <div class=" card  mt-5 text-dark small alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
                            <label class="label" asp-for="Email">Email</label>
                            <input class="input" asp-for="Email" type="email" />

                        </div>

                        <div class="group">
                            <button class="button" type="submit"> <span class="fas fa-sign-in-alt"></span> Yeni Şifre Talebi Gönder </button>
                        </div>
                        <div class="foot-lnk">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    }
    else
    {
        
        <div class="login-wrap">
            <div class="login-html bg-dark">
                <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">FunBox</label>

                <div class="login-form">
                    <form asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="group">
                            <div class=" card  mt-5 text-dark small alert-danger">Böyle bir e-posta adresi bulunmamaktadır.</div>
                            <label class="label" asp-for="Email">Email</label>
                            <input class="input" asp-for="Email" type="email" />

                        </div>
                        <div class="foot-lnk">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    }
}

