@model BitirmeProjesi.Entities.Dtos.UserPasswordResetDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLoginAndSignUp.cshtml";
    //ViewBag.Title = "Şifremi Unuttum";
}

<link href="~/css/Comments.css" rel="stylesheet" />

@if (ViewBag.State == null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card  mt-5 bg-dark">
                    <div class="card-header text-info"><h3 class="text-center  my-4"> <span class="fas fa-house-user"></span>Şifremi Unuttum</h3></div>
                    <div class="card-body">
                        <form asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                            <div asp-validation-summary="All" class="text-danger">
                            </div>
                            <div class="form-group">
                                <label class="small text-white btn-circle" asp-for="Email">Email</label>
                                <input class="form-control py-4  btn-circle " asp-for="Email" type="email" placeholder="Lütfen e-posta adresinizi giriniz." />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <a class="btn btn-secondary text-white btn-circle text-uppercase" asp-controller="User" asp-action="Login"> <span class="fas fa-user-lock "></span> Vazgeç</a>
                                <input type="submit" id="btnSend" class="btn btn-info  btn-circle text-uppercase" value="Yeni Şifre Talebi Gönder" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
else
{
    if (ViewBag.State)
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card  mt-5 bg-dark">
                        <div class="card-header text-info"><h3 class="text-center  my-4"> <span class="fas fa-house-user"></span>Şifremi Unuttum</h3></div>
                        <div class="card-body">
                            <form asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                                <div asp-validation-summary="All" class="text-danger">
                                </div>
                                <div class="form-group">
                                    <div class=" card  mt-5 text-dark small alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
                                    <label class="small text-white" asp-for="Email">Email</label>
                                    <input class="form-control py-4 " asp-for="Email" type="email" placeholder="Lütfen e-posta adresinizi giriniz." />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form">
                                    <input type="submit" id="btnSend" class="btn btn-info btn-block" value="Tekrar Şifre Talebi Gönder" />
                                    <a class="btn btn-info btn-block" asp-area="" asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card  mt-5 bg-dark">
                        <div class="card-header text-info"><h3 class="text-center  my-4"> <span class="fas fa-house-user"></span>Şifremi Unuttum</h3></div>
                        <div class="card-body">
                            <form asp-area="Admin" asp-controller="User" asp-action="ResetPassword">
                                <div asp-validation-summary="All" class="text-danger">
                                </div>
                                <div class="form-group">
                                    <div class=" card mt-5  small alert-danger text-dark"> Böyle bir e-posta adresi bulunmamaktadır.</div>
                                    <label class="small text-white" asp-for="Email">Email</label>
                                    <input class="form-control py-4 " asp-for="Email" type="email" placeholder="Lütfen e-posta adresinizi giriniz." />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form">
                                   
                                    <a class="btn btn-info btn-block"  asp-area="" asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
    }
}

