@model BitirmeProjesi.Entities.Dtos.UserUpdatePasswordDto
@{
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/login.css" rel="stylesheet" />

@if (ViewBag.State == null)
{
    <div class="login-wrap">
        <div class="login-html bg-dark">
            <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">Şifremi Güncelle</label>

            <div class="login-form">
                <form asp-area="Admin" asp-controller="User" asp-action="UpdatePassword">
                    <div asp-validation-summary="All" class="text-danger">

                    </div>
                    <div class="group">
                        <label class="label" asp-for="Password">Yeni Şifre</label>
                        <input class="input" asp-for="Password" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="group">
                        <button type="submit" id="btnSend" class="button"><span class="fas fa-sign-in-alt"></span>Şifreyi Güncelle</button>
                       
                    </div>

                </form>
            </div>
        </div>
    </div>
}
else
{
    if (ViewBag.State)
    {

        <div class="login-wrap">
            <div class="login-html bg-dark">
                <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">Şifremi Güncelle</label>

                <div class="login-form">
                    <form asp-area="Admin" asp-controller="User" asp-action="UpdatePassword">
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                        <div class="group">
                            <div class=" card  mt-5 text-dark small alert-success">Şifre başarıyla güncellenmiştir.</div>
                           

                        </div>
       
                        <div class="foot-lnk">
                            <a class="button text-center" asp-area="Admin" asp-controller="User" asp-action="Login">Giriş Yap</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="login-wrap">
            <div class="login-html bg-dark">
                <input name="tab" class="sign-in" checked><label for="tab-1" class="tab">Şifremi Güncelle</label>

                <div class="login-form">
                    <form asp-area="Admin" asp-controller="User" asp-action="UpdatePassword">
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                        <div class="group">
                            <div class=" card mt-5  small alert-danger text-dark"> Şifreyi güncellerken beklenmeyen hatayla karşılaşıldı.</div>
                          
                            <label class="label" asp-for="Password">Yeni Şifre</label>
                            <input class="input" asp-for="Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="foot-lnk">
                            <a class="button text-center" asp-area="" asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    }
}

