@model BitirmeProjesi.Entities.Dtos.UserDetailDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Comments.css" rel="stylesheet" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card mt-5">
                <div class="card-header text-info btn-circle"><h3 class="text-center my-4"> <span></span>Bilgilerim</h3></div>
                <div class="card-body">
                    <form asp-controller="User" asp-action="UserEditProfile" method="post">
                        <div asp-validation-summary="All" class="text-danger" id="validation-summary">
                        </div>
                        <div class="form-group">
                            <label class="small text-white btn-circle" asp-for="UserName">Kullanıcı Adı</label>
                            <input class="form-control py-4 btn-circle" asp-for="UserName" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small  text-white btn-circle" asp-for="PhoneNumber">Telefon Numarası</label>
                            <input class="form-control py-4 btn-circle " asp-for="PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="small  text-white btn-circle" asp-for="Email">Email</label>
                            <input class="form-control py-4 btn-circle" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <div class="form-group text-center">
                            <a class="btn btn-secondary text-white btn-circle text-uppercase" asp-area="" asp-controller="Home" asp-action="Index"> <span class="fas fa-user-lock "></span> Vazgeç</a>
                            <button type="submit" class="btn btn-info  btn-circle text-uppercase" id="btnSave"><span class="fas fa-save"></span> Kaydet </button>

                        </div>
                        
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


