@model BitirmeProjesi.Entities.Dtos.UserSignUpDto
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_UserLoginLayout.cshtml";
    ViewBag.Title = "Kayıt Ol";
    }
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg  rounded-lg mt-5 bg-dark">
                <div class="card-header text-info"><h3 class="text-center bg-dark my-4"> <span class="fas fa-house-user"></span> Kaydol</h3></div>
                <div class="card-body">
                    <form asp-controller="User" asp-action="SignUp" method="post">
                        <div asp-validation-summary="All" class="text-danger">
                        </div>
                        <div class="form-group">
                            <label class="small text-white" asp-for="UserName">Ad Soyad</label>
                            <input class="form-control py-4" asp-for="UserName" placeholder="Lütfen ad soyad giriniz." />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small text-white" asp-for="Email">Email</label>
                            <input class="form-control py-4" asp-for="Email" type="email" placeholder="Lütfen e-posta adresinizi giriniz." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="small text-white" asp-for="PhoneNumber">Telefon Numarası</label>
                            <input class="form-control py-4" asp-for="PhoneNumber"  placeholder="Lütfen telefon numaranızı giriniz." />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="small text-white" asp-for="Password">Şifre</label>
                            <input class="form-control py-4" asp-for="Password" type="password" placeholder="Lütfen şifrenizi giriniz." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small text-white" asp-for="RepeatPassword">Şifre tekrarı</label>
                            <input class="form-control py-4" asp-for="RepeatPassword" type="password" placeholder="Lütfen şifrenizi tekrar giriniz." />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="btn btn-info text-white"> <span class="fas fa-user-lock "></span> Şifremi Unuttum</a>
                            <button class="btn btn-info" type="submit"> <span class="fas fa-sign-in-alt"></span> Kaydol</button>
                        </div>
                    </form>
                </div>
                @*<div class="card-footer text-center">
                    <a class="btn btn-info btn-block text-white"> <span class="fas fa-user-edit"></span> Kaydol</a>
                </div>*@
            </div>
        </div>
    </div>
</div>
