@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row" id="HomePage">

        <div class="col-lg-3">

            <img class="img-fluid pt-5" src="~/img/nm2.png"/>
        </div>



        <div class="col-md-8 pt-5 mt-5">
            <div class="alert-info text-dark"> Arama kriterlerine uygun bir sonuç bulunamadı. Lütfen anahtar kelimelerinizi kontrol ediniz. </div>

        </div>
    </div>
</div>