@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<link href="~/css/MoodTest.css" rel="stylesheet" />


<div class="container text-center col-md-4 ">
    <div class="modal-dialog p-2">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-info"><span class="label label-warning text-info" id="question1"></span>Senin için bir dizinin IMDb puanı önemli midir? </h2>
            </div>
            <div class="modal-body">
                <div class="quiz" id="quiz1" data-toggle="buttons">
                    <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="Evet,7 ve üzeri olmalı">Evet,7 ve üzeri olmalı</label>
                    <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="Hayır bu benim için bir kriter değil">Hayır bu benim için bir kriter değil</label>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container text-center col-md-4 " id="SuggestionScreen">
    <div class="modal-dialog p-2">
        <div class="modal-content">
            <div class="modal-header ">
                <h2 class="text-info text-center"><span class="label label-warning text-info text-center"></span>Senin İçin Önerilerimiz </h2>
            </div>

            <div class="modal-body">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <a class="card-header bg-info text-dark" id="answer1Title"> </a>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container text-center col-md-4 " id="SuggestionScreen2">
    <div class="modal-dialog p-2">
        <div class="modal-content">
            <div class="modal-header ">
                <h2 class="text-info"><span class="label label-warning text-info"></span>Senin İçin Önerilerimiz </h2>
            </div>

            <div class="modal-body">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <a class="card-header bg-info text-dark" id="answer2Title"> </a>
                </div>
            </div>


        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-center">
        <li class="page-item"><a class="page-link" asp-controller="Serie" asp-action="MoodTesting">Geri</a></li>
        <li class="page-item  "><a class="page-link" asp-controller="Serie" asp-action="MoodTesting">1</a></li>
        <li class="page-item active"><a class="page-link" asp-controller="Serie" asp-action="MoodTesting2">2</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Serie" asp-action="MoodTesting3">3</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Serie" asp-action="MoodTesting3">İleri</a></li>

    </ul>
</nav>




@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#SuggestionScreen').hide();
            $('#SuggestionScreen2').hide();

            $("label.btn").on('click', function () {
                var choice = $(this).find('input:radio').val();

                if (choice == "Evet,7 ve üzeri olmalı")

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetImdbGreaterThanSeven",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            $('#SuggestionScreen2').hide();
                            const resultSerie = jQuery.parseJSON(result);

                            if (resultSerie.ResultStatus === 0) {
                                let answerResult = "";
                                $.each(resultSerie.Series.$values,
                                    function (index, serie) {
                                        answerResult += `

                                                                                                 <div class="card-header bg-info"> ${serie.Title}</div>

                                                                                                `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResult);

                            }

                        }
                    });

                else if (choice == "Hayır bu benim için bir kriter değil") {
                    $('#SuggestionScreen').hide();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetImdbAll",
                        success: function (result) {
                            $('#SuggestionScreen2').show();
                            const resultSerieLess = jQuery.parseJSON(result);

                            if (resultSerieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer2Title').html(" ");
                                $.each(resultSerieLess.Series.$values,
                                    function (index, serie) {
                                        answerResultLess += `
                                                                                                <div class="card-header bg-info"> ${serie.Title}</div>

                                                                                                `;
                                    }
                                );
                                $('#answer2Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }

            });
        });
    </script>
}

