<div class="col-lg-3">

    <h4 class="my-4 text-info h-auto w-auto">E-Hobilerim </h4>
    <div class="list-group">
        <a asp-area="Admin" asp-controller="Movie" asp-action="Index" class="list-group-item text-white">FİLM</a>
        <a asp-area="Admin" asp-controller="Serie" asp-action="Index" class="list-group-item text-white">DİZİ</a>
        <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="list-group-item text-white">KİTAP</a>
        
    </div>
  

</div>
