
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title FunBox </title>

    @await Html.PartialAsync("_LayoutCssPartial.cshtml")

</head>

<body>

    <footer class="pt-5 bg-dark p-5">

        @RenderBody()

    </footer>

    @await Html.PartialAsync("_LayoutJsPartial.cshtml")
    @await RenderSectionAsync("Scripts", false)

</body>

</html>
