<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link text-white"  asp-area="Admin" asp-controller="Home" asp-action="Index">
                ANASAYFA
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="MoodTest" asp-action="Index" > MOD TESTİ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="Activities" asp-action="Index">AKTİVİTELER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="Profile" asp-action="Index">PROFİL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="Login" asp-action="Index">GİRİŞ YAP</a>
        </li>
    </ul>
</div>