<div class="col-lg-3">

    <h1 class="my-4">Welcome</h1>
    <div class="list-group">
        <a asp-area="Admin" asp-controller="Movie" asp-action="Index" class="list-group-item">MOVİE</a>
        <a asp-area="Admin" asp-controller="Serie" asp-action="Index" class="list-group-item">SERİE</a>
        <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="list-group-item">BOOK</a>
        
    </div>
  

</div>
